*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
.navbar-brand{
float: left;
    width: 305px;
    height: 95px;
}

 a h1 {   color: #fff;
    font-size: 28px; 
    font-family: 'Charm', cursive;
    font-style: normal;
    font-weight: 400;
    padding-left: 105px;
    padding-top: 28px;
}
.logo-icon{
    position: absolute;
    height: 87px;
    width: 100px;
 }
 
.navbar-nav{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    list-style: none;
    font-size: 17px;
    margin-top: 5px;
    margin-right: 15px;

}

 ul li a{
    text-decoration: none;
    color: #fff;
   font-family: 'Crimson Pro', serif;
    
}
ul li a:hover{
    color:#ea822b;
}

.search{
    width: 355px ;
    float: right;
    margin-bottom: 20px;
}
.srch{
    width: 230px;
    height: 40px;
    font-family: 'Crimson Pro', serif;
    background: transparent;
    border: 1px solid #ea822b;
    margin-top: 25px;
    color: #fff;
    font-size: 14px;
    float: left;
    border-right: none;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.srch::placeholder{
    color: lightgray;
}
.btnsh{
    width: 80px;
    height: 40px;
    background: #ea822b;
    font-family: 'Crimson Pro', serif;
    border: none;
    margin-top: 25px;
    color: #fff;
    font-size: 15px;
    border-bottom-left-radius: 1.5px;
    border-top-left-radius: 1.5px;
    
}

.footer-container{
    background-color: #1e0f02;
    padding-bottom: 64px;
    margin-top: 20%;
     
}
.footer{
    width: 100%;
    height: 240px;
    background-color: #1e0f02;
    display: flex;
    color: #fff;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

}

 .don-container2 h2{
    font-size: 40px;
    color: #1e0f02;
    font-family: 'Charm', cursive;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 150px;
}
.don-containers{
    display: flex;
    position: relative;
     
}
.don-container1{
    
    flex: 45%;
    margin-top: 125px;

}

.don-container2{
   flex: 55%;
    
}
.accor{
    width: 92%;
    border: 2px solid #1e0f02;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    align-items: center;
    
    padding: 7px;

}

.accor .accor-icon{
    width: 30px;
    height: 30px;
    transition: all .5s ease-in;
    float: left;
    margin-left: 10px;
    

}
 .active{
    background-color: #1e0f02;
    color: #fff;
 }
 .active h5{
   
 }
 .active i{
color:#ea822b;
 }
.accor h5{
    font-size: 25px;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: normal;
font-family: 'Crimson Pro', serif;
}
.content{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    border-left: 1.5px solid #1e0f02;
    padding: 0 15px;
    width: 90%;
    font-size: 16px;
    text-align: justify;
    overflow: hidden; /*To make an animated accordion*/
    max-height: 0;
    transition: all .5s ease-in;
}
 
.content button{
    color: #1e0f02;
    background-color: #ea822b;
    border: none;
    width: 120px;
    height: 40px;
font-family: 'Crimson Pro', serif;
border-radius: 6px;
font-size: 21px;

}

.pop-up{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}
.pop-up.active{
    display: block;
}
.pop-up-container{
    display: flex;
    width: 100%;
    height: 100%;
}
.pop-up-body{
    width: 420px;
    height: 450px;
    margin: auto;
    background-color: #f6f4e9;
    border-radius: 10px;
    text-align: center;
    position: relative;
    padding: 50px 15px 110px 15px;
}


.pop-up-body input{
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    border: none;
    border-radius: 10px;
    background-color: #1e0f02;
    font-family: 'Crimson Pro', serif;
    font-size: 18px;

}
.pop-up-body p{
    font-family: 'Crimson Pro', serif;
    font-size: 25px;
    color: #1e0f02;
    margin-bottom:40px;
}
.pop-up-body input::placeholder{
    color: gray;
}
#type-text{
    color: #fff;
}
.pop-up-body button{
     color: #1e0f02;
    background-color: #ea822b;
    border: none;
    width: 330px;
    height: 40px;
font-family: 'Crimson Pro', serif;
border-radius: 10px;
font-size: 20px;
display: block;
cursor: pointer;
margin: 40px auto 0px auto;
}
.pop-up-close{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 22px;
    color: #000;
}

.footer-content{
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}
.footer-content h2{
    margin-top: 65px;
    margin-bottom: 40px;
    color: #e9822b;
    font-family: 'Crimson Pro', serif;
    font-size: 21px;
}
.footer-content a{
    color: #fff;
    text-decoration: none;   
    margin-bottom: 10px;
    font-family: 'Crimson Pro', serif;
    font-size: 15px;

}

.footer-content a:hover{
    color: #ea822b;

}
.footer-content hr{
    width: 20%;
    height: 20%;
color: #fff;
    margin-left: 0px;
    margin-top: 9px;

}
.footer-email h2{
    margin-top: 65px;
    margin-bottom: 35px;
    color: #ea822b;
    font-size: 21px;
}
.footer-email hr{
width: 20%;
height: 20%;
color: #fff;
    margin-left: 0px;
    margin-top: 9px;

}
#footer-email{
    width: 300px;
    height: 35px;
    background: transparent;
    border: 0.5px solid lightgray;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 10px;
    font-family: 'Crimson Pro', serif;
    padding-left: 13px;
    padding-bottom: 1.5px;
    color: #fff;
    
    
}
#footer-email::placeholder{
    color: #fff;
}
#footer-email:hover{
     border: 1px solid #e9822b ;
}
#footer-submit{
     width: 75px;
    height: 38px;
    background: #e9822b;
    border: none;
    color: #fff;
   font-family: 'Crimson Pro', serif;
   font-size: 14px;
   font-weight: bold;


}
#footer-submit:hover{
    border: 1px solid #e9822b ;
}
.social-media{
   
    position: absolute;
    margin-left: 550px;
    margin-top: 210px;
    width: 320px;
    height: 60px;

}
.social-media ul{
display: flex;
}
.social-media ul li{
    list-style: none;
}
.social-media ul li a{
    display: flex; 
    font-size: 25px;
    width: 50px;
    height: 50px;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    background: #f6f4e9;
    padding-top:13px ;
    text-decoration: none;
    color: #e9822b;
    transition:0.5s;
}

.social-media ul li a:hover{
    color: #1e0f02;
    transform: translateY(-20px);
}



.fa {
    color: #1e0f02;
    float: right;
}
 i:hover{
color:#ea822b;
}
.fa a{
    color: #1e0f02;
}
.fa a:hover{
     color:#ea822b;
}